@import "tailwindcss";


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a; /* Tailwind's slate-900 */
}

#root {
  width: 100%;
  height: 100%;
}


.dot-grid-background {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, #0000001a 0.8px, transparent 0.8px);
  background-size: 20px 20px;
  opacity: 0.6;
  z-index: 0;
}


